@use "../../lib/service.scss" as s;

.header {
	@extend .section;
	background-color: s.color("backgroundDark");
}

.header__content {
	@extend .section__content;
	display: flex;
	padding: s.space(4) 0;
	justify-content: space-between;
	
	@media all and (width < s.screen("mobile")) {
		flex-direction: column;
	}
}

.header__block {
	display: flex;
	align-items: center;
	gap: s.space(8);

	@media all and (width < s.screen("laptop")) {
		gap: s.space(4);
	}

}

.header__icon {
	@include s.click;
}

.header__link {
	// text-decoration: none;
	color: s.color("whiteLight");
	@include s.click;
}

.header__link {
	font-size: s.size("small");
}

.ad__content {
	@extend .section__content;
	display: flex;
	padding: s.space(4) 0;
	justify-content: space-between;

	@media all and (width < s.screen("tablet")) {
		flex-direction: column;
		gap: s.space(3);
	}
}

.ad__title {
	color: s.color("fontDark");
	font-size: s.size("middle");
}

.ad__link {
	color: s.color("primary");
	@include s.click;
}

.ad__link {
	font-size: s.size("middle");
}

.product__content {
	display: grid;
	gap: s.space(5);
	text-align: center;
	align-content: center;
}

.product__title {
	font-size: 56px;
	font-weight: 600;
	// color: s.color("fontDark");
}

.product__description {
	font-size: 28px;
}

.product__action {
	display: flex;
	align-items: center;
	gap: s.space(5);
	justify-content: center;

	@include s.click;
}

.product__link {
	@include s.linkAction;
}

.product {
	@extend .section;
	padding-top: s.space(20);
	padding-bottom: s.space(20);
	background-repeat: no-repeat;
	background-position: bottom center;
}

.product-big {
	max-height: 700px;
	height: 100vh;
	// background-size: contain;
	background-size: cover;

	@media all and (width < s.screen("tablet")) {
		background-size: 120%;
		max-height: 500px;
	}
}

.product-small {
	max-height: 580px;
	height: 100vh;
	// background-size: contain;
	background-size: cover;

	@media all and (width < s.screen("tablet")) {
		background-size: 150%;
		max-height: 500px;
	}
}

.product--dark {
	.product__title, .product__description {
		color: s.color("background");
	}
	background-color: #000;
}

.product--top {
	.product__content {
		align-content: flex-start;
	}
}

.product--bottom {
	.product__content {
		align-content: flex-end;
	}
}

.product--light {
	.product__title, .product__description {
		color: s.color("fontDark");
	}
	background-color: #fff;
}

$productImage: (
	"iphone-pro" "/img/iphone_pro.png" #000,
	"iphone" "/img/iphone.png" #fafafa,
	"iwatch" "/img/iwatch.png" #000,
	"trade-in" "/img/trade_in.png" #FBFBFD,
	"conference" "/img/conference.png" #000,
	"ipad" "/img/ipad.png" #FBFBFB,
	"small-business" "/img/small_business.png" #000,
	"gift" "/img/gift.png" #FBFBFD,
	"card" "/img/card.png" #FBFBFD,
);

@each $class, $url, $color in $productImage {
	.product--#{$class} {
	background-image: url(#{$url});
	background-color: $color;
	}	
} 

.product-small {
	.product__title {
		font-size: 40px;
	}

	.product__description {
		font-size: 20px;
	}
}

.footer {
	@extend .section;
}

.footer__title {
	margin-bottom: s.space(4);
	color: s.color("fontDark");
	font-size: s.size("small");
	font-weight: s.weight("middle");
}

.footer__link {
	color: s.color("footerText");
	font-size: s.size("small");
	font-weight: s.weight("default");
	@include s.click;
}

.footer__columns {
	display: grid;
	gap: s.space(3);
	padding-bottom: s.space(8);
}