{{! 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
}}

<html>

  <head>
    <title>
      {{page.title}}
    </title>
    <meta charset='utf-8' />
    <link href='css/normalize.css' rel='stylesheet' />
    <link
      href='dist/css/layout/default/style.css'
      rel='stylesheet'
    />
    <link
      href='dist/css/container/{{style}}/style.css'
      rel='stylesheet'
    />

  </head>

  <body>

    {{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   }}
    {{{body}}}

  </body>

</html>